spring.datasource.url=jdbc:<database>://<url>/<databaseName>
spring.datasource.driver-class-name=<Driver>
spring.datasource.username=<username>
spring.datasource.password=<password>
spring.jpa.properties.hibernate.dialect=<dialect>
spring.jpa.hibernate.ddl-auto=update
